@page "/"
@page "/home"

<h1>Timetracker Demo app</h1>

<h4>Must have</h4>
    <ul>
        <li><s>
    Na stránce bude umístěný formulář pro ukládání záznamů a tabulka s výpisem
    záznamů. Formulář bude obsahovat:
        </s></li>

        <s>Formulář bude obsahovat:</s>
        <ul>
            <li><s>input, kde můžu zapsat název úkolu</s></li>
            <li><s>
                Select, kde můžu vybrat druh práce (například. Kódování, Programování,
                Meetingy)
            </s></li>

            <li><s>
                Timetracker s inputem pro sledování a zápis času (timetracker obsahuje vždy
                datum a čas od – do)
            </s></li>

            <li><s>
                Tlačítko pro uložení záznamu do tabulky záznamů
            </s></li>
        </ul>

        <li><s>
            Po uložení záznamu se záznam propíše do tabulky (data se budou načítat z databáze,
            kam se záznam uloží)
        </s></li>

        <li><s>
            Prvky se budou dát z tabulky vymazat
        </s></li>

        <li><s>
            Prvky v tabulce bude možné řadit (dle abecedy, dle typu práce, dle datumu)
        </s></li>
    </ul>

    <h4>Nice to have</h4>
    <ul>
        <li>
            V timetrackeru se bude dát zapnout funkce stopek, která po zapnutí začne
            automaticky počítat čas, který se po zastavení času propíše do formuláře (čas bude
            zobrazení ve formě čas od - čas do)
        </li>
        <li><s>
            Záznamy tabulky bude možné editovat a znova uložit
        </s></li>

        <li>
            Záznamy bude možno filtrovat podle datumu a druhu práce
        </li>

        <li><s>
            Tabulka bude mít paginaci a možnost změnit počet vypsaných prvků na stránce
        </s></li>

        <li><s>
            Bude možno vytvořit nové vlastní typy práce, které se propíšou do selectu
        </s></li>

    </ul>



